{% extends 'home/base.html' %}


{% block title %}home{% endblock %}


{% block content %}

     <div class="container">
          <div class="row">
               <div class="col">
                    <h2>Bienvenidos al registro de usuario</h2>
                    <br>
                    <p>Este proyecto esta diseñado para la creacion de usuarios en donde actualizamos en modelo user que viene predeterminado y utilizamos uno propio realizadole pequeñas modificaciones, el fin de este pryecto es poder poner en paratica lo apredido en creacion de usuario django</p>
                    <br>
               <div class="col-5">
                    <h4>Tabla iniciativa del proyecto</h4>
                    <table class="table">
                         <thead>
                              <tr>
                                   <th>#</th>
                                   <th>Acciones</th>
                                   <th>Ver</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr>  
                                   <th scope="row">1</th>
                                   <th scope="row">Registrar usuarios</th>
                                   <th scope="row">aqui</th>
                              </tr>
                              <tr>  
                                   <th scope="row">2</th>
                                   <th scope="row">Cambiar contraseña</th>
                                   <th scope="row">aqui</th>
                              </tr>
                              <tr>  
                                   <th scope="row">3</th>
                                   <th scope="row">Validaciones de registros</th>
                                   <th scope="row">aqui</th>
                              </tr>
                              
                         </tbody>
                    </table>
               </div>     
               </div>
          </div>
     </div>
      
{% endblock %}